body{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
}
body,html{
  height:100%;
}
.container{
  width:80%;
  margin:0 auto;
}
.justifyFlex {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.justify-center{
  -webkit-justify-content: center;
  justify-content: center;
}
.sectionTitle{
  text-align: left;
  font-size:2.5rem;
  border-bottom:4px solid #f90048;
  display: inline-block;
  padding-bottom:10px;
}
header{
  height: 100%;
  background:url('../images/default-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  color:#fff;
  background-attachment: fixed;
}
.headerOverlay{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background:rgba(0, 0, 0, 0.74);
}
.headerContent{
  position: relative;
  z-index:1;
  color:#fff;
}
.clearfix{clear: both;}
nav{
  position: relative;
  z-index: 1;
  padding:15px;
  background: #f90048;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.5), 0 0 2px 1px rgba(0, 0, 0, 0.35);
}
nav ul{
  list-style: none;
  padding:0;
  margin:0;
  float: right;
}
nav ul li{
  display: inline-block;
  margin:0 10px;
  padding:5px 0;
}
nav ul li a{
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.active {border-bottom:3px solid #fff;}
.logo{font-size: 1.2rem;color:#fff;text-decoration: none;padding:5px 0;display: inline-block;}
.bannerText{
  padding-top:150px;
  text-align: center;
}
.bannerSubTitle{
  font-size:5rem;
  font-weight: bold;
  margin:5px;
}
.confName{
  font-size:6rem;
  font-weight: bold;
  margin:5px;
}
.smallDesc{
  margin:15px 30px;
  border-left:4px solid #ea531c;
  padding:0 25px;
  font-size:1.2rem;
  font-weight: bold;
}
.bannerDesc{
  margin-bottom:50px;
}
.btn{
  margin-bottom:10px;
  letter-spacing: 2px;
  height:45px;
  padding:0 30px;
  line-height: 45px;
  background:#f90048;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  color:#fff;
  border:none;
  outline: none;
}
.btn:hover{
  background:#ff8922;
}
/** COUNTER */

.countdown{
  margin-top:-80px;
  position: relative;
  margin-bottom: 80px;
}
.counter-box{
  position: relative;
  width:160px;
  height:160px;
  color:#fff;
}
.counter-box:after{
  content: '';
position: absolute;
background: #ea531c;
z-index: 0;
top: 0;
left: 0;
bottom: 0;
width: 100%;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.5), 0 0 2px 1px rgba(0, 0, 0, 0.35);
border-radius:  20%;
}
.counter-box div {

    top:50%;
    left:50%;
    position: absolute;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    padding: 25px;
    font-size: 1.5rem;
    display: inline-block;
    z-index: 5;
    text-align: center;
}
.counter-box span{font-size:3rem;}
.counter-box:nth-child(1):after{background:#f90048;}
.counter-box:nth-child(2):after{background:#ea531c;}
.counter-box:nth-child(3):after{background:cornflowerblue;}
.counter-box:nth-child(4):after{background:#ff8922;}


/*** ABOUT ***/
.aboutBox{
    width:50%;
}
.aboutBox .fa{
  color:#f90048;
  font-size:3rem;
}

section{
  padding:20px 0;
}
/*** sTATS ********/
.stats{
  background:url(../images/stats.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.statsBox{
  width: 25%;
  text-align: center;
  color:#fff;
  box-sizing: border-box;
  padding:15px;
}
.statsBox h3{
  font-size:4rem;
  margin:10px 0;
}
.statsBox h4{
  font-size:1rem;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding-bottom:10px;
  padding-left: 15px;
  padding-right: 15px;
}
.statsBox .fa{
  font-size:2.5rem;
  display: block;
}
.statsOverlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0, 0, 0, 0.5);
}
.statsContent{
  position: relative;
  z-index:1;
}
/**** Speakers ***/
.speakerBox{
    width: 32%;
    background:#fff;
    box-shadow:0 0 100px rgba(0,0,0,.1);
    margin:15px 0.5%;

}
.speakerBox img{
  width: 100%;
}
.speakers{
  background:#f1f1f1;
}
.speakerInfo{
  padding:15px;
  text-align: center;
}
.social{
  text-align: center;
  padding:10px 5px;
}
.social span{margin:5px 10px;}
/*** BANNER **/
.banner{
  background: -webkit-gradient(linear,left top,right top,from(#f90048),to(#ff8922));
    background: -webkit-linear-gradient(left,#f90048,#ff8922);
    background: linear-gradient(90deg,#f90048,#ff8922);
    background-color: #f90048;
    color:#fff;
}
.col4{
  width:25%;
  text-align: center;
}
.banner .fa{
  font-size:3rem;

  margin-right:15px;
  padding:15px 20px;
  box-sizing: border-box;
}

/*** SHEDULE **/
.schedule_row {
    border-left: 6px solid #ff8922;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.time {
    font-weight: bold;
}
.starter {
    position: absolute;
    left: 0%;
    top: 20px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #ff8922;
    transform: translateX(-65%);
}

/**** PRICING ***/
.col3{
  width:32%;
}
.pricing{
  background:url(../images/ban1.jpg);
  background-attachment: fixed;
}
.priceBox{
    background:#fff;
    text-align: center;
    border-radius: 10px;
    padding:25px 10px;
    box-sizing: border-box;
}
.price{
  font-size:3rem;
}
.priceBox ul{
  list-style: none;
  padding:0;
  margin:0;
}

.priceBox ul li{
  font-size: 1.2rem;
  margin:5px 0;
}
.priceBox:nth-child(2){
  background:#f90048;
  color:#fff;
}


/********** SPONSORS **********/
.sponsorBox img{width:100%;}


/*** MAP ***/
.map{
  background:url(../images/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:#fff;

  padding-bottom: 0;
}
.infoTile{
  padding:30px 25px;
  box-sizing: border-box;
  width:33.3%;
  text-align: left;
}
.infoTiles{transform: translateY(20%);-webkit-transform: translateY(20%);-ms-transform: translateY(20%);}
.infoTile .fa{font-size: 3rem;}
.infoTile:first-child{background:#f28a03;}
.infoTile:nth-child(2){background:#9933cc;}
.infoTile:nth-child(3){background:#f90048;}

.gMap{width:100%;}

.alignCenter{text-align: center;}
footer{background:#1b1b1b;color:#fff;padding-top:70px;}
footer h2{text-align: center;margin:0;padding:15px;margin-bottom: 25px;}

footer input{height: 43px;
    color: #333;
    border-color: rgba(0,0,0,.3);
    -webkit-box-shadow: none;
    box-shadow: none;
width: 33%;
margin-right: 30px;
height: 45px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
box-sizing: border-box;
}

.subFooter{background:#141414;margin-top:70px;text-align: center;padding:20px;}


.
